html, body {
  text-align: center;
}

.container {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
}

.header + .content {
  margin-top: 35px;
}

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  /*testing out colors*/
  color: LightSkyBlue;
  background-color: black;
  /*padding: 10px;*/
}

.content {
  /*need height of 80% otherwise signup/signin modal does not showup, still testing different %*/
  min-height: 80%;
}

.header-item {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

.headerLink {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
}
.headerLink:hover {
  background-color: #303030;
  color: #0099cc;
}

h4, h2{
  margin: 10px;
}

/*Images in ImageThumb*/
.images {
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  min-height: 100%;
}

/*Details*/
.detailsImage {
  max-width: 450px;
}

/* MODAL TEST STYLES*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  removing scroll for time being */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid black;
  width: 35%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  font-size: 18px;
}

.modalHeader {
  margin: 0 auto; /*positions the div in the center*/
  width: 70%; /*determines the width of the div*/
}

.modalHeader h2, small{
  display: inline;
}

.modalHeader small {
  color: #808080
}

.modal-content input {
  display: block;
  background-color: #E3E3E3;
  margin: 12px auto;
  border: 1px solid LightSkyBlue;
  border-radius: 4px;
  width: 90%;
  color: black;
}

input:focus {
  outline: none;
  border: 2px solid MediumSeaGreen;
}

.modal-content a:hover {
  color: #aaa;
  cursor: pointer;
}

.signUpIn:hover {
  background-color: #303030;
  color: #0099cc;
}

.userSubmit {
  border-radius: 4px;
  border: none;
  background-color: #303030;
  color: MediumSeaGreen;
}

.userSubmit:hover {
  background-color: MediumSeaGreen;
  color: black;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

/*favorites component*/
.landingLink {
  text-decoration: none;
  color: #0099cc;
}

.landingLink:hover {
  color: #1ac6ff;
}

/*Dropdown menu stuff*/
/* Dropdown Button */
.dropbtn, .signUpIn {
  text-decoration: none;
  background-color: black;
  /*background-color: #4CAF50;*/
  /*color: white;*/
  color: LightSkyBlue;
  padding: 10px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: LightSkyBlue;
  /*font-size: 20px;*/
  padding: 10px;
  text-decoration: none;
  display: block;
  /*border: 1px solid black;*/
  background-color: black;
  margin: 0;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #0099cc;
  background-color: #303030;
}
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  left: auto;
  right: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #0099cc;
  background-color: #303030;
}

img {
  border-radius: 5px;
}
